.bgcont{
    background-color: #E6E6EE;
    height: 2000px;
    padding-top: 2%;
}
.formcont{
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    height: 1750px;
    border-radius: 10px;
}
.formclass{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    padding-top: 2%;
}
.checkbox-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .checkbox-column .col-12 {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
  .topic2{
    font-size: 20px;
    color:#191970;
    margin-left: 2%;
}
.topic3{
    font-size: 15px;
    color:black;
}  
.mapleft{
    float: left;
    width: 60%;
}
.mapright{
    float: right;
}
.btnsbt{
    width: 175px;
    height: 45px;
    float: right;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 10%;
    border-radius: 10px;
    background: linear-gradient(90.72deg, #191970, rgba(25, 25, 112, 0.77));
    color: white;
    font-size: large;
    text-align: center;

}
.btnalreday{
    display: inline-block;
    padding-top: 6px;
    width: 180px;
    height: 45px;
    margin-left: 45%;
    border-radius: 10px;
    background: linear-gradient(90.72deg, #191970, rgba(25, 25, 112, 0.77));
    color: white;
    font-size: large;
    text-align: center;
}
.fstdev{
    height: 50px;
}

  