.bd-container{
    background-color: #e6e6ee;
    width: 20%;
}

.left-nav{
    background-color: #ffffff;
    width: 20%;
    height: 120%;
    position: fixed;
    
}
.HOwner-img{
    border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 80px;
}


.nav-bar{
    list-style-type: none;
    line-height: 60px;
}
.nav-item2{
    margin-top: 8%;
}
.navlogout{
    background: linear-gradient(90.72deg, #DA0202 -3.71%, rgba(218, 2, 2, 0.52) 99.39%);
    border-radius: 10px;
    color: white;
    width: 180px;
    height: 55px;
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
    padding-bottom: 2px;
}